{% extends 'index.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
<div class="card-body">
    <p class="mb-10">Veuillez entrer votre adresse e-mail</p>
    <form action="{{ path('app_forgotten_password') }}" method="post">
        <div class="row">
            <div class="col-8">
                <div class="input-group mb-3">
                    {{ form_widget(emailForm.email) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <button class="btn btn-success btn-block" type="submit">
                    Envoyer
                </button>
            </div>
        </div>
        {{form_rest(emailForm)}}
    </form>
</div>
<!-- /.card-body -->

{% endblock %}
